################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Challange/Challange/obj/Debug
/Challange/.vs/Challange/v15/.suo
/Challange/.vs/Challange/v15/Server/sqlite3
